[submodule "vendors/ultralight"]
	path = vendors/ultralight
	url = https://github.com/ultralight-ux/ultralight.git

[submodule "vendors/libtorrent"]
	path = vendors/libtorrent
	url = https://github.com/arvidn/libtorrent.git
